logs/**
data/**
conf/characters/*
conf/loot/*
!conf/characters/Default Configuration.json
!conf/loot/upgrade_components.json
src/Farm-WingStorm.au3
src/Farm-HoldingsOfChokhin.au3
src/Farm-Skree.au3
src/Farm-VQ-Arborstone.au3
src/Farm-Skale.au3
src/Farm-Drakeflesh.au3
src/Farm-VaettirsMes.au3
src/Farm-HoldingsOfChokhin.au3
lib/Utils-Storage-Bot copy.au3
